* {
    background-color: papayawhip
}

/* top navigation */
.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    color: red;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: whitesmoke;
}

.topnav a.active {
    background-color: #FFCC00;
    color: whitesmoke;
}

/*headings*/
h1 {
    text-align: center;
    font-kerning: auto;
    letter-spacing: inherit;
    color: black;
    text-transform: capitalize;
    text-decoration: underline
}

h3 {
    text-align: center;
    font-kerning: 10px;
    letter-spacing: inherit;
    color: black;
}

img {
    align-content: space-around flex-start;
    border: double 10px black;
}
